/* variaveis */
:root {
  --brownDark: #2d2424;
  --brownLight: #5c3d2e;
  --orange: #b85c38;
  --orangeLight: #e0c097;
  --white: #f6f6f6;

  --subtitle-font-size: 1rem;
  --title-font-size: 1.875rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**/
body {
  font: 400 1rem var(--body-font);
  color: var(--white);
  background: var(--brownDark);
  -webkit-font-smoothing: antialiased;
}

.conversion {
  width: 22rem;
  height: 25rem;
  margin: 0 auto;
}

.title {
  font: 700 1.875rem var(--title-font);
  color: var(--white);
  -webkit-font-smoothing: auto;
  margin-top: 7.75rem;
  margin-bottom: 0.93rem;
  text-align: center;
}

.inputGroup {
  display: flex;
  justify-content: center;
}

label {
  font: 700 1rem var(--body-font);
  background: var(--orangeLight);
  color: var(--brownDark);
  border-radius: 1.2rem 0 0 1.2rem;
  margin-bottom: 0.875rem;
  width: 108px;
  height: 63px;
  text-align: center;
  padding-top: 0.7rem;
}

input {
  width: 100%;
  height: 63px;
  border-radius: 0 1.2rem 1.2rem 0;
  padding: 12px 20px;
  border: none;
  background-color: var(--white);
  color: var(--brownDark);
  font: 700 2.68rem var(--body-font);
}

button {
  background: var(--orange);
  border: none;
  color: var(--white);
  font: 700 1rem var(--title-font);
  border-radius: 1rem;
  width: 139px;
  height: 34px;
  transition: 0.3s;
  float: right;
}

button:hover {
  background: var(--orangeLight);
  color: var(--brownDark);
  cursor: pointer;
  transition: 0.3s;
}

#offering {
  width: 100%;
  height: 11rem;
  background: var(--white);
}

.offeringContainer {
  width: 22rem;
  margin: auto;
}

#offering p {
  font: 700 1.125rem var(--title-font);
  color: var(--brownDark);
  margin: 0 0 0.4rem 0;
  padding: 0.625rem;
}

.offering {
  display: flex;
  justify-content: center;
}

.result {
  display: none;
  background: var(--brownDark);
  padding: 1rem;
  border-radius: 1rem;
}

.result.active {
  display: block;
}

.result .percentage {
  font: 400 2.25rem var(--body-font);
}

.totalContainer,
.resultsContainer {
  display: flex;
}

.resultsContainer .backgroundLeft {
  margin: 0 0 1.56rem 0;
  border-radius: 0 0 0 1.2rem;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultsContainer .backgroundRight {
  margin: 0;
  border-radius: 0 1.2rem 0 0;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backgroundLeft {
  font: 700 1.6rem var(--title-font);
  background: var(--orangeLight);
  color: var(--brownDark);
  border-radius: 0 0 0 1.2rem;
  margin-bottom: 0.875rem;
  width: 200px;
  height: 55px;
  text-align: center;
  padding: 0.5rem 0;
}

.backgroundRight {
  width: 100%;
  height: 55px;
  border-radius: 0 1.2rem 0 0;
  border: none;
  background-color: var(--white);
  color: var(--brownDark);
  font: 700 1.8rem var(--body-font);
  padding: 0.56rem 0;
}

.backgroundRight p {
  margin-left: 1rem;
}

footer {
  background: var(--orangeLight);
  width: 100%;
  height: 11rem;
  padding: 1rem 10%;
}

footer p {
  color: var(--brownDark);
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

footer .social {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  width: fit-content;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}

footer .rildo {
  font: 700 1.5rem var(--title-font);
}

@media (min-width: 1000px) {
  .wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: flex-start;
  }
  .conversion {
    margin: 0;
  }
  .result {
    width: 22rem;
  }
}
